USE [master]
GO
/****** Object:  Database [hotel]    Script Date: 18/02/2026 15:24:22 ******/
CREATE DATABASE [hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hotel.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hotel_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hotel]
GO
/****** Object:  Table [dbo].[hotel2018]    Script Date: 18/02/2026 15:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotel2018](
	[hotel] [varchar](50) NULL,
	[is_canceled] [varchar](50) NULL,
	[lead_time] [varchar](50) NULL,
	[arrival_date_year] [varchar](50) NULL,
	[arrival_date_month] [varchar](50) NULL,
	[arrival_date_week_number] [varchar](50) NULL,
	[arrival_date_day_of_month] [varchar](50) NULL,
	[stays_in_weekend_nights] [float] NULL,
	[stays_in_week_nights] [float] NULL,
	[adults] [varchar](50) NULL,
	[children] [varchar](50) NULL,
	[babies] [varchar](50) NULL,
	[meal] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[market_segment] [varchar](50) NULL,
	[distribution_channel] [varchar](50) NULL,
	[is_repeated_guest] [varchar](50) NULL,
	[previous_cancellations] [varchar](50) NULL,
	[previous_bookings_not_canceled] [varchar](50) NULL,
	[reserved_room_type] [varchar](50) NULL,
	[assigned_room_type] [varchar](50) NULL,
	[booking_changes] [varchar](50) NULL,
	[deposit_type] [varchar](50) NULL,
	[agent] [varchar](50) NULL,
	[company] [varchar](50) NULL,
	[days_in_waiting_list] [varchar](50) NULL,
	[customer_type] [varchar](50) NULL,
	[adr] [float] NULL,
	[required_car_parking_spaces] [varchar](50) NULL,
	[total_of_special_requests] [varchar](50) NULL,
	[reservation_status] [varchar](50) NULL,
	[reservation_status_date] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hotel2019]    Script Date: 18/02/2026 15:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotel2019](
	[hotel] [varchar](50) NULL,
	[is_canceled] [varchar](50) NULL,
	[lead_time] [varchar](50) NULL,
	[arrival_date_year] [varchar](50) NULL,
	[arrival_date_month] [varchar](50) NULL,
	[arrival_date_week_number] [varchar](50) NULL,
	[arrival_date_day_of_month] [varchar](50) NULL,
	[stays_in_weekend_nights] [float] NULL,
	[stays_in_week_nights] [float] NULL,
	[adults] [varchar](50) NULL,
	[children] [varchar](50) NULL,
	[babies] [varchar](50) NULL,
	[meal] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[market_segment] [varchar](50) NULL,
	[distribution_channel] [varchar](50) NULL,
	[is_repeated_guest] [varchar](50) NULL,
	[previous_cancellations] [varchar](50) NULL,
	[previous_bookings_not_canceled] [varchar](50) NULL,
	[reserved_room_type] [varchar](50) NULL,
	[assigned_room_type] [varchar](50) NULL,
	[booking_changes] [varchar](50) NULL,
	[deposit_type] [varchar](50) NULL,
	[agent] [varchar](50) NULL,
	[company] [varchar](50) NULL,
	[days_in_waiting_list] [varchar](50) NULL,
	[customer_type] [varchar](50) NULL,
	[adr] [float] NULL,
	[required_car_parking_spaces] [varchar](50) NULL,
	[total_of_special_requests] [varchar](50) NULL,
	[reservation_status] [varchar](50) NULL,
	[reservation_status_date] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hotel2020]    Script Date: 18/02/2026 15:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotel2020](
	[hotel] [varchar](50) NULL,
	[is_canceled] [varchar](50) NULL,
	[lead_time] [varchar](50) NULL,
	[arrival_date_year] [varchar](50) NULL,
	[arrival_date_month] [varchar](50) NULL,
	[arrival_date_week_number] [varchar](50) NULL,
	[arrival_date_day_of_month] [varchar](50) NULL,
	[stays_in_weekend_nights] [float] NULL,
	[stays_in_week_nights] [float] NULL,
	[adults] [varchar](50) NULL,
	[children] [varchar](50) NULL,
	[babies] [varchar](50) NULL,
	[meal] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[market_segment] [varchar](50) NULL,
	[distribution_channel] [varchar](50) NULL,
	[is_repeated_guest] [varchar](50) NULL,
	[previous_cancellations] [varchar](50) NULL,
	[previous_bookings_not_canceled] [varchar](50) NULL,
	[reserved_room_type] [varchar](50) NULL,
	[assigned_room_type] [varchar](50) NULL,
	[booking_changes] [varchar](50) NULL,
	[deposit_type] [varchar](50) NULL,
	[agent] [varchar](50) NULL,
	[company] [varchar](50) NULL,
	[days_in_waiting_list] [varchar](50) NULL,
	[customer_type] [varchar](50) NULL,
	[adr] [float] NULL,
	[required_car_parking_spaces] [varchar](50) NULL,
	[total_of_special_requests] [varchar](50) NULL,
	[reservation_status] [varchar](50) NULL,
	[reservation_status_date] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[market_segment]    Script Date: 18/02/2026 15:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[market_segment](
	[Discount] [float] NULL,
	[market_segment] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meal_cost]    Script Date: 18/02/2026 15:24:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meal_cost](
	[Cost] [float] NULL,
	[meal] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
